<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>User login ok</title>
    <link  th:inline="css" rel="stylesheet" th:href="@{/css/common/account_result.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>
</head>
<body id="full_body">

    <div id="result_container">
        <div class="result">
            <h2>로그인이 완료되었습니다.</h2>
            <a th:href="@{/}">홈으로</a>
        </div>
    </div>

</body>
</html>