<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <link th:inline="css" th:href="@{/css/board/boardModify.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/css/board/boardModify.css">
</head>
<body>
<div id="container board_container">
    <div class="form_wrap">
        <h1 class="board_title">게시글 수정</h1>
        <form th:action="@{/board/modify}" th:method="post" class="board_content" enctype="multipart/form-data">
            <!-- 페이지 번호와 검색 조건을 전달하기 위한 hidden input -->
            <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
            <input type="hidden" name="type" th:value="${pageRequestDTO.type}">
            <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}">
            <input type="hidden" id="boardNo" name="boardNo" th:value="${dto.boardNo}">
            <div class="form_item">
                <label for="title">제&emsp;&emsp;&ensp; 목&ensp;&ensp;<span class="requiredDot">*</span></label>
                <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" required>
            </div>
            <div class="form_item">
                <label for="content">내&emsp;&emsp;&ensp; 용&ensp;&ensp;<span class="requiredDot">*</span></label>
                <textarea class="form-control" rows="5" id="content" name="content" th:text="${dto.content}" required></textarea>
            </div>
            <div class="form_item">
                <label for="thumbnail">첨 부 파 일&ensp;&ensp;</label>
                <input type="file" id="thumbnail" name="thumbnail" placeholder="첨부파일">
            </div><br>
            <div class="buttons_wrap">
                <button type="submit" class="regi_button modifyBtn">수정완료</button><br>
                <button type="button" class="listBtn option_button">목록으로</button>
            </div>

        </form>
    </div>
</div>
        <!-- JavaScript 부분 -->
        <script th:inline="javascript">
            var actionForm = $("form");
            // 버튼 클릭시 삭제하시겠습니까? 라는 메시지를 띄우고 예 선택시 삭제 아니오 선택시 변동없음
            $(".btn-danger").click(function () {
                if (confirm("삭제하시겠습니까?")) {
                    actionForm
                        .attr("action", "/board/remove")
                        .attr("method", "post");
                    actionForm.submit();
                } else {
                    return "redirect:/board/modify?boardNo=${dto.boardNo}&page=${pageRequestDTO.page}&type=${pageRequestDTO.type}"
                }
            });

            $(".modifyBtn").click(function() {

                if(!confirm("수정하시겠습니까?")){
                    return ;
                }
                actionForm.submit();

                // actionForm
                //     .attr("action", "/inquary/modify")
                //     .attr("method","post")
                //     .submit();
            });

            $(".listBtn").click(function () {
                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");

                actionForm.empty();
                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);

                actionForm
                    .attr("action", "/board/noticeList")
                    .attr("method", "get");
                actionForm.submit();
            });
        </script>
</body>
</html>
