<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/board/list.css">
        <link th:inline="css" th:href="@{/css/board/list.css}" rel="stylesheet"/>
</head>
<body id="list_container">
<div class="side_bar">
    <div class="visual_title"><span>고객센터</span></div>
    <ul>
        <div class="side_list">
            <li class="side_item"><a th:href="@{/board/noticeList}">공지사항</a></li>
            <li class="side_item"><a th:href="@{/inquary/list}">1:1문의</a></li>
        </div>
    </ul>
</div>

<div class="list_wrap">
    <h1 class="board_title">공지사항</h1>
    <table class="board_content" cellspacing="0">
        <colgroup>
            <col width="30">
            <col width="200">
            <col width="50">
            <col width="50">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <!-- result.dtoList가 null이 아닌 경우에만 반복문 실행 -->
        <tr th:if="${!#lists.isEmpty(result.dtoList)}" th:each="dto, iterStat : ${result.dtoList}">
            <td th:text="${iterStat.index + 1}" class="list_num"></td> <!-- 번호 추가 -->
            <td class="list_title">
                <a th:href="@{/board/read(boardNo=${dto.boardNo},
                page=${result.page},
                type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}">
                    [[${dto.title}]]
                </a>
            </td>
            <td><p th:text="${dto.writerName}"></p></td>
            <td th:if="${dto.modDate == null}">[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            <td th:if="${dto.modDate != null}">[[${#temporals.format(dto.modDate, 'yyyy/MM/dd')}]]</td>
        </tr>
        <!-- result.dtoList가 null인 경우에 대한 처리 -->
        <tr th:if="${#lists.isEmpty(result.dtoList)}">
            <td colspan="4">게시물이 없습니다.</td>
        </tr>
        </tbody>

    </table>
    <span>
        <a th:href="@{/board/register}" sec:authorize="hasRole('ADMIN') || hasRole('SUPERADMIN')">
            <button type="button" class="option_button">글작성</button>
        </a>
    </span>

    <ul class="pagination buttons_wrap">
        <li class="page-item " th:if="${result.prev}">
            <a class="page-link" th:href="@{/board/noticeList(page= ${result.start -1},
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword} ) }" tabindex="-1">Previous</a>
        </li>
        <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
            <a class="page-link" th:href="@{/board/noticeList(page = ${page} ,
                   type=${pageRequestDTO.type} ,
                   keyword = ${pageRequestDTO.keyword}  )}">
                [[${page}]]
            </a>
        </li>
        <li class="page-item" th:if="${result.next}">
            <a class="page-link" th:href="@{/board/noticelist(page= ${result.end + 1} ,
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword} )}">Next</a>
        </li>
    </ul>
</div>
</body>
</html>
