<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>loginMain</title>
    <link rel="stylesheet" th:href="@{/css/common/check_position.css}">
    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>


</head>
<body id="full_body">
<div id="ck_container">
    <div class="side_logo"><a th:href="@{/}"><img th:src="@{/image/logo_orange_Removal.png}"></a></div>
    <ul>
        <li>
            <a th:href="@{/user/login}">일반회원 로그인</a>
        </li>
        <li>
            <a th:href="@{/owner/login}">사업자 로그인</a>
        </li>
        <li>
            <a th:href="@{/admin/login}">관리자 로그인</a>
        </li>
    </ul>
</div>

</body>
</html>