<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/include/privacyterms.css">
    <link th:inline="css" th:href="@{/css/include/privacyterms.css}" rel="stylesheet"/>
</head>
<body>
<div id="container sub_container">
    <div class="sub_wrap">
        <div class="notice_title">
            <h1>이용약관</h1>
        </div>
        <div class="sub-group1">
            <h3 class="subtitle">이용약관</h3>
            <h4 class="subtitle2">('24.04.23 기준)</h4>
            <p class="sub_comment"><b>제 1조 (목적)</b><br>
                본 약관은 샌드박스(이하 "회사"라 한다)가 제공하는 샌드박스 서비스(이하 "서비스"라 한다)를 이용함에 있어 회사와 회원의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.<br><br>
                <b>제 2조 (정의)</b><br>
                1. "플랫폼"이란 "이용자"가 컴퓨터 등 정보통신설비를 이용하여 "서비스"를 이용할 수 있도록 "회사"가 제공하는 가상의 영업장을 말하며, 아울러 "플랫폼"을 운영하는 사업자의 의미로도 사용합니다. <br>
                2. "이용자"란 "회사"의 "서비스"에 접속하여 이 약관에 따라 "회사"와 이용계약을 체결하고 "회사"가 제공하는 "서비스"를 이용하는 고객을 말합니다. <br>
                3. "회원"이라 함은 "회사"에 개인정보를 제공하여 회원등록을 한 자로서, "회사"의 정보를 지속적으로 제공받으며, "회사"가 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다. <br>
                4. "게시물"이란 "이용자"가 "서비스"이용 시 게시하는 리뷰, 사진, 글, 댓글, 링크 등 모든 정보를 말합니다. <br><br>
                <b>제 3조 (약관의 명시와 개정)</b><br>
                1. "회사"는 이 약관의 내용과 상호, 영업소 소재지, 사업자등록번호, 연락처 등을 이용자가 쉽게 알 수 있도록 "플랫폼"의 초기 서비스화면(전면)에 게시합니다. <br>
                2. "회사"는 "약관의 규제에 관한 법률", "정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 "정보통신망법")" 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다. <br>
                3. "회사"가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 "플랫폼"의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. <br>
                4. "회사"가 전항에 따라 개정약관을 공지하면서 "이용자"에게 7일 기간 내에 의사표시를 하지 않으면 의사표시가 표명된 것으로 본다. "이용자"가 개정약관에 동의하지 않는 경우 "회사"는 개정약관의 내용을 적용할 수 없으며, 이 경우 "이용자"는 이용계약을 해지할 수 있습니다. <br>
                5. 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자 보호에 관한 법률, 약관 등의 규제 등에 관한 법률 및 관계법령 또는 상관례에 따릅니다. <br><br>
                <b>제 4조 (회원가입)</b><br>
                1. 이용자는 "회사"가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로써 회원가입을 신청합니다. <br>
                2. "회사"는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다. <br>
                1) 가입신청자가 이 약관 제6조 제1항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 단 "회사"의 회원 재가입 승낙을 얻은 경우에는 예외로 한다. <br>
                2) 등록 내용에 허위, 기재누락, 오기가 있는 경우 <br>
                3) 기타 회원으로 등록하는 것이 "회사"의 기술상 현저히 지장이 있다고 판단되는 경우 <br>
                3. 회원가입계약의 성립시기는 "회사"의 승낙이 회원에게 도달한 시점으로 합니다. <br>
                4. 회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 "회사"에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다. <br>
                5. 회원가입은 무료입니다. <br>
                6. 회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 "회사"에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다. <br>
                <b>제 5조 (회원 탈퇴 및 자격 상실 등)</b><br>
                1. 회원은 "회사"에 언제든지 탈퇴를 요청할 수 있으며 "회사"는 즉시 회원탈퇴를 처리합니다. <br>
                2. 회원이 다음 각 호의 사유에 해당하는 경우, "회사"는 회원자격을 제한 및 정지시킬 수 있습니다. <br>
                1) 가입 신청 시에 허위 내용을 등록한 경우 <br>
                2) "회사"를 이용하여 구입한 물품 등의 대금, 기타 "회사" 이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우 <br>
                3) 다른 사람의 "회사" 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우 <br>
                4) "회사"를 이용하여 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우 <br>
                5) 기타 다음과 같은 행위 등으로 "회사"의 건전한 운영을 해하거나 "회사"의 업무를 방해하는 경우 <br>
                6) 다른 사람의 "회사" 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우 <br>
                <b>제 6조 (서비스의 이용시간 및 중단)</b><br>
                1. "회사"는 회원의 이용 신청이 있는 경우, 회원에게 서비스를 제공합니다. <br>
                2. "플랫폼"의 이용은 특별한 사유가 없는 한 연중무휴 1일 24시간을 원칙으로 합니다. <br> 다만, 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다. <br><br>
                <b>제 7조 (거래기록의 보관)</b><br>
                거래기록은 전자상거래 등에서의 소비자보호에 관한 법률에 따라 일정기간 동안 보존됩니다. <br><br>
                <b>제 8조 (취소, 변경, 환불 등)</b><br>
                1. 회원이 구매한 상품의 취소, 변경, 환불 등은 "회사"의 환불 정책에 따릅니다. <br>
                2. "제휴판매자"는 자신이 판매하는 상품의 취소, 변경, 환불 등에 대한 정책을 "회사"에 제출하여야 합니다. <br>
                3. "회사"는 "제휴판매자"의 취소, 변경, 환불 등에 대한 정책을 "플랫폼"에 게시합니다. <br>
            </p>
            <br><br>
            <h3 class="subtitle">위치기반 서비스 이용약관</h3>
            <h4 class="subtitle2">('24.04.22 기준)</h4>
            <p class="sub_comment"><b>제 1조(목적)</b><br> 본 약관은 샌드박스컴퍼니(이하 "회사"라고함)이 제공하는 위치기반 서비스 (이하 "서비스"라고함)를 이용함에 있어 "회사"와 서비스를 이용하고자 하는 자 (이하 "이용자"라고함)의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다<br><br>
                <b>제 2조 (이용약관의 효력 및 변경)</b> <br>
                1. 본 약관은 이용자가 본 약관에 동의하고 회사가 정한 소정의 절차에 따라 서비스의 이용자로 인정함으로써 효력이 발생합니다. <br>
                2. 이용자가 서비스를 이용하는 과정에서 약관동의에 체크한 경우, 본 약관의 내용을 모두 읽고 이를 충분히 이해하였으며, 그 적용에 동의한 것으로 간주합니다. <br>
                3. 회사는 위치정보의 보호 및 이용등에 관한 법률, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다. <br>
                4. 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 서비스 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. <br>
                5. 회사가 전항에 따라 개정약관을 공지하면서 이용자에게 7일 기간 내에 의사표시를 하지 않으면 의사표시가 표명된 것으로 봅니다. 이용자가 개정약관에 동의하지 않는 경우 회사는 개정약관의 내용을 적용할 수 없으며, 이 경우 이용자는 서비스 이용계약을 해지할 수 있습니다. <br><br>
                <b>제 3조 (관계법령의 적용)</b><br>
                본 약관은 신의성실의 원칙에 따라 공정하게 적용하며, 본 약관에 명시되지 아니한 사항에 대하여는 관계법령 또는 상관례에 따릅니다. <br><br>
                <b>제 4조 (서비스의 내용)</b><br>
                회사가 제공하는 서비스, 개인위치정보의 보유목적 및 기간은 아래와 같습니다.
            </p>
            <div class="sub-table-wrap">
                <table class="sub-table">
                    <thead class="multi">
                    <tr>
                        <th>서비스 명</th>
                        <th>서비스 내용 및 보유목적</th>
                        <th>보유기간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>샌드박스 서비스</td>
                        <td>- 위치정보제공 대상의 위치 확인</td>
                        <td rowspan="2">정보제공자의 파기 요청시 지체없이 파기</td>
                    </tr>
                    <tr>
                        <td>예약 현장혜택 서비스</td>
                        <td>- 정상 이용 판단을 위한 예약정보수집<br>- 이용자에게 서비스 이용혜택 제공</td>
                    </tr>
                    </tbody>
                </table>
            </div><br><br>
            <p class="sub_comment"><b>제 5조(서비스 이용요금)</b><br>1. 회사가 제공하는 서비스는 기본적으로 무료입니다. 단, 별도의 유로 서비스의 경우 해당 서비스에 명시된 요금을 지불하여야 사용 가능합니다. <br>
                2. 회사는 유료 서비스 이용요금을 회사와 계약한 전자지불업체에서 정한 방법에 의하거나 회사가 정한 청구서에 합산하여 청구할 수 있습니다. <br>
                3. 유료서비스 이용을 통하여 결제된 대금에 대한 취소 및 환불은 회사의 결제 이용약관 등 관계법에 따릅니다. <br>
                4. 이용자의 개인정보도용 및 결제사기로 인한 환불 요청 또는 결제자의 개인정보 요구는 법률이 정한 경우 외에는 거절될 수 있습니다. <br>
                5. 무선 서비스 이용 시 발생하는 데이터 통신료는 별도이며 가입한 각 이동통신사의 정책에 따릅니다. <br><br>
                <b>제 6조 (서비스내용변경 통지 등)</b><br>
                1. 회사가 서비스 내용을 변경하거나 종료하는 경우, 회사는 이용자가 회원가입시 제공한 연락수단을 통하여 서비스 내용의 변경사항 또는 종료를 통지할 수 있습니다. <br>
                2. 1항의 경우 불특정 다수인을 상대로 통지를 함에 있어서는 웹사이트 등 기타 회사의 공지사항을 통하여 이용자들에게 통지할 수 있습니다. <br><br>
                <b>제 7조(서비스 이용의 제한 및 중지)</b> <br>
                1. 회사는 아래 각 호의 1에 해당하는 사유가 발생한 경우에는 이용자의 서비스 이용을 제한하거나 중지시킬 수 있습니다. <br>
                 1) 이용자가 회사 서비스의 운영르 고의 또는 중과실로 방해하는 경우 <br>
                 2) 서비스용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우 <br>
                 3) 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우 <br>
                 4) 국가비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 경우 <br>
                 5) 기타 중대한 사유로 인하여 회사가 서비스 제공을 지속하는 것이 부적절하다고 판단하는 경우 <br>
                2. 회사는 전항의 규정에 의하여 서비스의 이용을 제한하거나 중지한 떄에는 그 사유 및 제한기간 등을 이용자에게 알려야합니다. <br><br>
                <b>제 8조 (손해배상)</b><br>
                1. 회사가 위치정보 보호 및 이용 등에 관한 법률 제 15조 내지 제 26조의 규정을 위반한 행위로 이용자에게 손해가 발생한 경우 이용자는 회사에 대하여 손해배상 청구를 할 수 있습니다. 이 경우 회사는 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다. <br>
                이용자가 서비스 및 혜택받기를 이용하면서 불법행위 또는 고의나 과실로 이 약관을 위반하여 외사가 해당 고객 이외의 제 3자로부터 손해배상청구 또는 소송을 비롯한 각종 이의제기를 받는다면 해당 이용자는 그 때문에 회사에 발생한 손해를 배상해야합니다. <br>
                2. 이용자가 본 약관의 규정을 위반하여 외사에 손해가 발생한 경우 회사는 이용자에 대하여 손해배상을 청구할 수 있습니다. 이 경우 이용자는 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다. <br><br>
                <b>제 9조 (면책) </b><br>
                1. 회사는 다음 각 호의 경우로 서비스를 제공할 수 없는 경우 이로 인하여 이용자에게 발생한 손해에 대해서는 책임을 부담하지 않습니다.<br>
                 1) 천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우 <br>
                 2) 서비스 제공을 위하여 회사와 서비스 제휴계약을 체결한 제휴사의 고의 또는 과실로 인한 경우 <br>
                 3) 이용자의 귀책사유로 서비스 이용에 장애가 발생한 경우 <br>
                 4) 제 3자가 불법적으로 회사의 서비스를 이용하여 발생한 경우 <br>
                 5) 제 1호 내지 제 3호를 제외한 기타 회사의 고의 ·과실이 없는 사유로 인한 경우 <br>
                2. 회사는 서비스 및 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않으며 이로 발생한 이용자의 손해에 대하여는 책임을 부담하지 아니합니다. <br><br>
                <b>제 10조 (분쟁의 조정 및 기타)</b><br>
                1. 회사는 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 위치정보의 보호 및 이용 등에 관한 법률 제 28조의 규정에 의한 방송통신위원회에 재정을 신청할 수 있습니다. <br>
                2. 회사 또는 이용자는 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 개인정보보호법 제 43조의 규정에 의한 개인정보분쟁조정위원회에 조정을 신청할 수 있습니다. <br><br>
                <b>제 11조 (회사의 연락처)</b><br>
                회사의 상호, 주소, 전화번호 및 기타 연락처는 다음과 같습니다. <br>
                상호 : 샌드박스컴퍼니 <br>
                대표자 : 샌드박스 프로젝트 <br>
                주소 :  샌드박스시 샌드구 박스로 999<br>
                전화번호 : 5656-5656 <br>
            </p><br><br>
        </div>
    </div>
</div>
</body>
</html>