<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Admin modify account</title>
    <link rel="stylesheet" th:href="@{/css/admin/modify_account_form.css}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script> <!--임포트: jquery를 js에서 사용하기 위해서 -->
    <script type="text/javascript" th:src="@{/js/admin/modify_account_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/deleteInfo.js}"></script>"

</head>
<body>
<div th:replace="~{admin/include/nav :: NavFragment}"></div>
    <div id="modify_container">
        <h1>개인정보 수정</h1>
        <div id="modify_wrap">
            <form th:action="@{/admin/updateInfo}" th:method="post" id="modify_account_form">
                <input type="hidden" id="adminNo" name="adminNo" th:value="${admin.adminNo}">
                <input type="hidden" id="approval" name="approval" th:value="${admin.approval}">
                <input type="hidden" id="roleId" name="roleId" th:value="${admin.memberRole.roleId}">
                <input type="hidden"  id="adminId" name="adminId" th:value="${admin.adminId}">
                <input type="hidden"  id="deleteYn" name="deleteYn" th:value="N">
                <input type="hidden"  id="gender" name="gender" th:value="${admin.gender}">
                <input type="hidden"  id="part" name="part" th:value="${admin.part}">
                <div class="form_list">
                    <div class="form_item">
                        <label for="id">아&ensp;이&ensp;디&emsp;&emsp;&ensp;</label>
                        <input type="text" id="id" name="adminId" th:value="${admin.adminId}" readonly disabled>
                    </div>
                    <div class="form_item">
                        <label for="password">비밀번호&emsp;&emsp;&ensp;</label>
                        <input type="password" id="password" name="password" placeholder="비밀번호입력" required>
                    </div>
                    <div class="form_item">
                        <label for="password_check">비밀번호확인&ensp;</label>
                        <input type="password" id="password_check" name="passwordAgain" placeholder="비밀번호 재입력" required>
                    </div>
                    <div class="form_item">
                        <label for="name">이&emsp;&emsp;름&emsp;&emsp;&ensp;</label>
                        <input type="text" id="name" name="name" th:value="${admin.name}">
                    </div>
                    <div class="form_item">
                        <label for="mail">이&ensp;메&ensp;일&emsp;&emsp;&ensp;</label>
                        <input type="email" id="mail" name="mail" th:value="${admin.mail}">
                    </div>
                    <div class="form_item">
                        <label for="phone">전화번호&emsp;&emsp;&ensp;</label>
                        <input type="tel" id="phone" name="phone" th:value="${admin.phone}">
                    </div>
                    <div class="form_item">
                       <label for="adminGender">성&emsp;&emsp;별&emsp;&emsp;&ensp;</label>
                        <input type="text" id="adminGender" name="gender" th:value="${admin.gender}" readonly disabled>
                    </div>
                    <div class="form_item">
                        <label for="adminPart">담당지역&emsp;&emsp;&ensp;</label>
                        <input type="text" id="adminPart" name="part" th:value="${admin.part}" readonly disabled>
                    </div>
                </div>
                <button class="modify_button" type="button" onclick="modifyAccount()">modify</button>
                <button class="modify_button" type="reset"> reset </button>
            </form>
            <form id="dropAccountForm" th:action="@{/admin/deleteInfo}" th:method="POST">
                <input type="hidden"  id="password2" name="password" value="">
                <button class="drop_button" type="button" onclick="deleteInfo()">회원 탈퇴</button>
            </form>
        </div>
    </div>
</body>
</html>