<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/find_idAndPw_form.css}"/>
</head>
<body id="full_body">
<div id="find_container">
    <div class="side_logo"><a th:href="@{/}"><img th:src="@{/image/logo_orange_Removal.png}"></a> </div>
    <h3>비밀번호 재설정</h3>
    <div id="find_wrap">
        <form th:action="@{/admin/reset_password_form}" method="post">
            <div class="form_list">
                <div class="form_item">
                    <label for="adminId"></label>
                    <input type="text" id="adminId" name="adminId" placeholder="아이디를 입력하세요" autofocus required>
                </div>
                <hr>
                <div class="form_item">
                    <label for="email"></label>
                    <input type="email" id="email" name="mail" placeholder="이메일 주소를 입력하세요" required>
                </div>
            </div>
            <button class="find_button" type="submit">이메일 전송</button>
        </form>
        <div class="account_links">
            <a th:href="@{/admin/login}">로그인</a>
            <a th:href="@{/admin/forgot_id}">아이디 찾기</a>
            <a th:href="@{/admin/terms}">회원가입</a>
        </div>
    </div>
</div>
</body>
</html>
