<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Owner home</title>
    <link th:inline="css" th:href="@{/css/owner/home.css}" rel="stylesheet"/>
</head>
<body>
    <section th:replace="~{owner/include/nav :: NavFragment}">
    </section>
    <h3> OWNER HOME </h3>

</body>
</html>